footer.footer#footer
   div.container.footer-container 
      ul.footer__content-list
         li.footer__list-item
            div.footer__logo
               img.logo(src="@img/logo.svg", alt="spacelance")
            div.footer__descr Powerful Freelance Marketplace System with ability to change the Users (Freelancers & Clients)
            ul.footer__socials
               li.social-item
                  a.social-link(href="#") 
               li.social-item
                  a.social-link(href="#")
               li.social-item
                  a.social-link(href="#")
         li.footer__list-item
         li.footer__list-item
         li.footer__list-item
      div.footer__copyright
         span.copyright-descr 2022 Spacelance. All right reserved