footer.footer#footer
   div.container.footer-container 
      ul.footer__content-list
         li.footer__list-item
            div.footer__logo
               a.logo-link(href="#")
                  img.logo(src="@img/logo.svg", alt="spacelance")
            div.footer__descr Powerful Freelance Marketplace System with ability to change the Users (Freelancers & Clients)
            ul.footer__socials
               li.social-item
                  a.social-link(href="#", target="_blank") 
                     svg(width='30' height='30' viewbox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M14.9999 11.0947C12.8495 11.0947 11.0946 12.8496 11.0946 15C11.0946 17.1504 12.8495 18.9053 14.9999 18.9053C17.1503 18.9053 18.9052 17.1504 18.9052 15C18.9052 12.8496 17.1503 11.0947 14.9999 11.0947ZM26.7128 15C26.7128 13.3828 26.7275 11.7803 26.6366 10.166C26.5458 8.291 26.1181 6.62694 24.747 5.25584C23.373 3.88182 21.7118 3.45702 19.8368 3.3662C18.2196 3.27538 16.6171 3.29003 15.0028 3.29003C13.3856 3.29003 11.7831 3.27538 10.1688 3.3662C8.29384 3.45702 6.62978 3.88475 5.25869 5.25584C3.88466 6.62987 3.45986 8.291 3.36904 10.166C3.27822 11.7832 3.29286 13.3857 3.29286 15C3.29286 16.6142 3.27822 18.2197 3.36904 19.834C3.45986 21.709 3.88759 23.373 5.25869 24.7441C6.63271 26.1181 8.29384 26.5429 10.1688 26.6338C11.786 26.7246 13.3886 26.7099 15.0028 26.7099C16.62 26.7099 18.2226 26.7246 19.8368 26.6338C21.7118 26.5429 23.3759 26.1152 24.747 24.7441C26.121 23.3701 26.5458 21.709 26.6366 19.834C26.7304 18.2197 26.7128 16.6172 26.7128 15ZM14.9999 21.0088C11.6747 21.0088 8.99111 18.3252 8.99111 15C8.99111 11.6748 11.6747 8.99119 14.9999 8.99119C18.3251 8.99119 21.0087 11.6748 21.0087 15C21.0087 18.3252 18.3251 21.0088 14.9999 21.0088ZM21.2548 10.1484C20.4784 10.1484 19.8515 9.52147 19.8515 8.7451C19.8515 7.96873 20.4784 7.34178 21.2548 7.34178C22.0312 7.34178 22.6581 7.96873 22.6581 8.7451C22.6583 8.92945 22.6222 9.11204 22.5518 9.2824C22.4813 9.45276 22.378 9.60756 22.2476 9.73791C22.1172 9.86827 21.9625 9.97163 21.7921 10.0421C21.6217 10.1125 21.4391 10.1487 21.2548 10.1484Z' fill='#252525')
               li.social-item
                  a.social-link(href="#", target="_blank")
                     svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_35_265)')
                           path(d='M24 2.84287C23.3317 4.06666 22.5117 5.10989 21.5402 5.97254C21.5498 6.2039 21.5546 6.4654 21.5546 6.75703C21.5546 8.3774 21.3627 9.99973 20.9789 11.624C20.5951 13.2483 20.0088 14.8031 19.2201 16.2882C18.4314 17.7734 17.4918 19.0892 16.4015 20.2355C15.3112 21.3818 14.0006 22.2958 12.4697 22.9775C10.9388 23.6592 9.29815 24 7.54763 24C4.81566 24 2.29978 23.0921 0 21.2762C0.408184 21.3321 0.799667 21.3601 1.17445 21.3601C3.45679 21.3601 5.49529 20.4947 7.28994 18.7638C6.22578 18.7398 5.27275 18.3365 4.43084 17.554C3.58894 16.7715 3.00956 15.7716 2.6927 14.5543C3.00589 14.6277 3.315 14.6645 3.62003 14.6645C4.05909 14.6645 4.49112 14.594 4.91613 14.453C3.78047 14.173 2.83835 13.4766 2.08976 12.364C1.3412 11.2514 0.966919 9.9672 0.966919 8.51146V8.43643C1.66399 8.91157 2.40752 9.1643 3.19752 9.19464C2.52477 8.64251 1.99138 7.92252 1.59735 7.03466C1.20329 6.14681 1.00626 5.18599 1.00626 4.15222C1.00626 3.06193 1.22819 2.04666 1.67205 1.10642C2.90705 2.97214 4.40352 4.46327 6.16144 5.57983C7.91939 6.69641 9.80534 7.31652 11.8193 7.44017C11.7334 6.99948 11.6903 6.5396 11.6902 6.06053C11.6902 4.38779 12.171 2.95952 13.1327 1.77571C14.0945 0.591904 15.2547 0 16.6135 0C18.0361 0 19.2344 0.637688 20.2083 1.91306C21.3211 1.64172 22.363 1.15093 23.3341 0.440688C22.96 1.89013 22.2391 3.00827 21.1714 3.79512C22.1527 3.65157 23.0955 3.33415 24 2.84287H24Z' fill='#252525')
                        defs
                           clippath#clip0_35_265
                              rect(width='24' height='24' fill='white')
               li.social-item
                  a.social-link(href="#", target="_blank")
                     svg(width='30' height='30' viewbox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M16.7463 26.2462V16.0012H20.2025L20.7163 11.99H16.7463V9.435C16.7463 8.2775 17.0688 7.485 18.73 7.485H20.835V3.90875C19.8108 3.79899 18.7813 3.74599 17.7513 3.75C14.6963 3.75 12.5988 5.615 12.5988 9.03875V11.9825H9.16504V15.9937H12.6063V26.2462H16.7463Z' fill='#252525')
         li.footer__list-item
            h4.footer__item-heading For Clients
            ul.links-list 
               li.item-link 
                  a.link(href="#") Find Freelancers
               li.item-link 
                  a.link(href="#") Post Project 
               li.item-link 
                  a.link(href="#") Refund Policy
               li.item-link 
                  a.link(href="#") Privacy Policy
         li.footer__list-item
            h4.footer__item-heading For Freelancers
            ul.links-list 
               li.item-link 
                  a.link(href="#") Find Work 
               li.item-link
                  a.link(href="#") Create Account
         li.footer__list-item
            h4.footer__item-heading Call Us
            ul.links-list 
               li.item-link 
                  a.link(href="https://goo.gl/maps/7qcG9Sw8XrSsMGHeA", target="_blank") Kenya
               li.item-link 
                  a.link(href="tel:+25470000000") +25470000000
               li.item-link
                  a.link(href="mailto:bluelance@gmail.com") bluelance@gmail.com
      div.footer__copyright
         span.copyright-descr 2022 Spacelance. All right reserved
//- перед ссылками на локацию, телефон, email - иконки через before(до)