header.header#header
   div.container.header-container 
      nav.header__nav
         div.nav-logo
            a.logo-link(href="#")
               img.logo(src="@img/logo.svg", alt="spacelance")
         ul.nav-list 
            li.list-item
               a.item-link.is-active(href="#") Home
            li.list-item
               a.item-link(href="#") Find work
            li.list-item
               a.item-link(href="#") Find Freelancers
            li.list-item
               a.item-link(href="#") Log in
            li.list-item
               a.item-link(href="#") Sign in
         div.nav-btn
            a.btn-link(href="#") Post a project
      div.header__content 
         div.content-freelancers
            h1.content-heading Are you looking for Freelancers?
            p.content-descr Hire Great Freelancers, Fast. Spacelance helps you hire elite freelancers at a moment's notice
            div.freelancers-info 
               button.freelancers-btn Hire a freelancer
               form.freelancers-search(action="#")
                  input.freelancers-input(type="search", placeholder="search freelance work")
                  button.search-btn
                     svg(width='25' height='25' viewbox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                        rect(width='25' height='25' fill='url(#pattern0)')
                        defs
                           pattern#pattern0(patterncontentunits='objectBoundingBox' width='1' height='1')
                              use(xlink:href='#image0_21_38' transform='scale(0.04)')
                           image#image0_21_38(width='25' height='25' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABgklEQVRIDb1WCY0CQRBEwklAAhJOAhKQgAQcnISTgAQkIAEJSChSm6qh0zvfJoRJyM5uP9XVzwy73WAB2AP4BXAYqG4Ty+k/gCfW60r5No9BG8APADqZWTfqB/PxVgD35J1sTmJ2BPCX2FF/HigxYJSsBX9nAjlMBUNwr7tl3acitdGSBgDR0S07SPISRNYr74EFC83oXRemg+naF+WwAfBQZI/wub41BUV30Psw3wrA5tVAFkT2v7UAsLgXvR/rIb2/irXN222d6sGhY3qWwr/dtXdGYIM0tTJIU7EiUKcZp82EttbiHFR8NT8pvTYfgngI2S3Tw6W0EuTZjMSC1CVTbDSkZnGxr+4TgNnQsGuUADhbc+zVjvHUZerKIEruzjMD6nMEePQM52phKUeRkZ3VngYgsNccENHEwEeGHfhJ5xxYXgtkkNc8kMCYCg/o6nZMdYxg24B63SI2rfR+DWh1RfSC7soGjD73B6QD9DkQNQo7LtZo6vTopqkl1ICWS+wFb1Si7ucFVQIAAAAASUVORK5CYII=')
         //- after(после) - картинка