// FONTS
// @import 'fonts'
// NORMALIZE
@import 'normalize'



// ALL STYLES 
   // Header
*,*::before,*::after
   font-family: 'Poppins', sans-serif
   box-sizing: border-box
   margin: 0
   padding: 0
   list-style: none
   text-decoration: none
button
   cursor: pointer
   background-color: transparent
.container
   max-width: 1295px
   margin: 0 auto

.header
   padding-top: 51px
   background: url('@img/bg-header.jpg')
   .header-container
      .header__nav
         background-color: #fff
         border-radius: 50px
         padding: 15px 25px 15px 20px
         display: flex
         justify-content: space-between
         align-items: center
         .nav-logo
         .nav-list
            display: flex
         .nav-btn
      .header__content
// .search-btn
//    background-color: #1E88E5
//    width: 50px
//    height: 50px
//    border-radius: 50%
//    display: flex
//    align-items: center
//    justify-content: center