doctype html
html(lang="ru")
   include html/head
   body 
      include html/header 
      main 
         section.opportunities
            div.container.opportunities-container
               ul.opportunities__list 
                  li.list-item
                     h3.opportunities__heading Create Account
                     div.opportunities__descr First you have to create a account  here
                  li.list-item
                     h3.opportunities__heading Search work
                     div.opportunities__descr Search the best freelance work here
                  li.list-item 
                     h3.opportunities__heading Save and Apply
                     div.opportunities__descr Apply or save and start your work
         section.freelancers
            div.container.freelancers-container
               div.freelancers__info 
                  img.woman-img(src="@img/woman.png", alt="Woman")
                  div.amount-wrapper
                     span.number 500+
                     span.text freelancers
                  div.amount-wrapper
                     span.number 300+
                     span.text freelance work Posted
               div.freelancers__content
                  h2.section-heading.freelancers-heading Find The Best Freelancers Here 
                  p.freelancers-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut erat bibendum ornare urna, cursus eget convallis. Feugiat imperdiet posuere justo, ultrices interdum sed orci nunc, mattis. Ipsum viverra viverra neque adipiscing arcu, quam dictum. Dui mi viverra dui, sit accumsan, tincidunt massa. Dui cras magnis.
         section.works 
            div.container.works-container
               div.works__title 
                  span.works-subtitle The latest freelance work!
                  h2.section-heading.works-heading Recently Posted Works
      include html/footer 
      script(src="js/app.min.js") 